
<ngb-alert class="alert alert-success" *ngIf="subscriber" >
    <p>Bonjour {{subscriber.firstName}} {{subscriber.lastName}},</p>
    <p>Hallo {{subscriber.firstName}} {{subscriber.lastName}},</p>
    <p></p>
    <p>Pour confimer votre inscription à l'événement {{run.event.name}}, veuillez effetcure le virement: </p>
    <p>Voer de overdracht uit om uw registratie voor het evenement {{run.event.name}} te bevestigen:</p>
   
        <ul>
            <li>Montant/bedrag: {{run.event.price}}€</li>
            <li>Numéro de compte/Rekeningnummer: {{run.event.accountNumber}}</li>
            <li>Nom du bénéficiaire/Naam van de begunstigde: {{run.event.organization}}</li>
            <li>Communication structurée/Gestructureerde communicatie: <b>{{subscriber.bankTransferId}}</b></li>
        </ul>
    
    <p>Sportivement, Sportily,<br />  {{run.event.organization}}.</p>

    <button type="submit" class="btn btn-primary btn-lg" routerLink="/run/{{idRun}}">Retour à la course »</button>

</ngb-alert>

<ngb-alert class="alert alert-danger" *ngIf="error">
    Une erreur c'est produite, veuillez prendre contact avec <b>joggansgroupe@gmail.com</b> avec ce messe: <br />
    <i>{{ error | json }}</i><br />
    Merci de votre compéhension, <br />
    Nicolas.

    <button type="submit" class="btn btn-primary btn-lg" routerLink="/run/{{idRun}}">Retour à la course »</button>

</ngb-alert>


<div class="card" *ngIf="!subscriber">
    <h4 class="card-header">Laerbeek inscription / inschrijving 2020</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" >
                <div class="modal-body">
                    <!-- start form -->
                    <div class="form-group">
                        <label for="firstName" >Prénom / Voornaam</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="firstName" placeholder="First name"
                                name="firstName" formControlName="firstName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="lastName" >Nom / Naam</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="lastName" placeholder="Last name"
                                name="lastName" formControlName="lastName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="gender" >Sexe / Geslacht</label>
                        <select id="gender" class="form-control" name="gender" formControlName="gender"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                            <option value="female">F/V</option>
                            <option value="male">H/M</option>
                        </select>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="dateOfBirth" >Année de naissance / Geboortejaar (YYYY)</label>
                        <div class="input-group">
                            <input id="dateOfBirth" class="form-control" placeholder="yyyy" name="dp" name="birthDate"
                                formControlName="dateOfBirth" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <hr />

                    <!-- start form -->
                    <div class="form-group">
                        <label for="email" >Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="postalCode" >Code postal / Postcode</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="postalCode" placeholder="Postal code"
                                name="postalCode" formControlName="postalCode" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }">
                        </div>
                    </div>
                    <!-- end form -->

                    <hr />

                    <!-- start form -->
                    <div class="form-group">
                        <label for="club" >Club</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="club" placeholder="Club" name="club"
                                formControlName="club" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.club.errors }">
                        </div>
                    </div>
                    <!-- end form -->


                    <!-- start form -->
                    <div class="form-group">
                        <div class="form-check form-check-inline">                 
                                <input class="form-check-input" type="checkbox" value="true" id="challenge" formControlName="challenge" 
                                [ngClass]="{ 'is-invalid': submitted && f.challenge.errors }" >
                                <label class="form-check-label" for="defaultCheck1">
                                    Challenger Run In Brussels ?
                                </label>
                            <div class="invalid-feedback" >You must agree before submitting.</div>
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="checkbox" id="healthOk" value="healthOk" formControlName="healthOk" 
                            [ngClass]="{ 'is-invalid': submitted && f.healthOk.errors }">
                            <label class="form-check-label" for="defaultCheck1">
                                Je déclare que mon état de santé me permet de participer à la
                                présente épreuve. <br /> Ik verklaar dat mijn gezondheidstoestand mij toestaat deel te
                                nemen aan deze wedstrijd.
                            </label>
                             <div class="invalid-feedback" >You must agree before submitting.</div>
                        </div>
                    </div>
                    <!-- end form -->

                    <div class="form-text">

                        <p>
                            <small class="form-text text-muted" >
                                *Conformément à la réglementation européenne sur la protection des données (RGPD - 25
                                mai
                                2018), nous avons besoin de votre consentement pour valider votre inscription à notre
                                mailing list. Nous recueillons uniquement les données lors de votre inscription à une
                                course. Elles contiennent votre nom, prénom, année de naissance, sexe, adresse email, la
                                commune où vous résidez et une éventuelle affiliation à un club. En vous inscrivant,
                                vous
                                acceptez que celles-ci soient utilisées dans le cadre de la course organisée par le
                                Joggans
                                et l’envoi de nos newsletters. Nos données ne sont jamais cédées, échangées ou
                                revendues.
                                Vous pourrez vous désabonner à tout moment en faisant la demande par email à
                                joggansgroup@gmail.com.
                            </small>
                        </p>
                        <p>
                            <small class="form-text text-muted" >
                                *Conform de Europese regelgeving voor gegevensbescherming (RGPD - 25 mei 2018), hebben
                                wij
                                toestemming nodig om uw inschrijving te bevestigen op onze mailinglijst. Wij verzamelen
                                uw
                                gegevens enkel in aanloop van een wedstrijd. Deze omvatten uw naam, voornaam,
                                geboortejaar,
                                geslacht, e-mailadres, uw gemeente en een eventuele aansluiting bij een club. Deze zijn
                                tevens nodig voor het goede verloop van een wedstrijd ( klassement) en voor het
                                verzenden
                                van onze newsletters. Onze gegevens zullen nooit doorgegeven, uitgewisseld of verkocht
                                worden. U kan zich ten allen tijde uitschrijven op eenvoudig verzoek per e-mail naar
                                joggansgroup@gmail.com.
                            </small>
                        </p>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" routerLink="/run/{{idRun}}">Annuler/Cancel</button>
                        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Enregistrement/Opslaan</button>
                    </div>
                </div>
            </form>
        </div>
</div>