
<ngb-alert class="alert alert-success" *ngIf="subscriber" >
    <p>{{ 'register.hi' | translate:{'firstName': subscriber.firstName , 'lastname': subscriber.lastName } }}</p>
    <p></p>
    <p>{{ 'register.confirm' | translate:{'eventName': run.event.name} }}</p>
   
        <ul>
            <li>{{ 'register.amount' | translate:{'price': run.event.price} }}</li>
            <li>{{ 'register.bankNumber' | translate:{'accountNumber': run.event.accountNumber} }} </li>
            <li>{{ 'register.recipent' | translate:{'recipent': run.event.organization} }}</li>
            <li>{{ 'register.structure' | translate:{'structure': subscriber.bankTransferId} }}</li>
        </ul>
    
    <p>{{ 'register.sucessSignature' | translate:{'organization': run.event.organization} }}</p>

    <button type="submit" class="btn btn-primary btn-lg" routerLink="/run/{{idRun}}">{{ 'register.return' | translate }}</button>

</ngb-alert>

<ngb-alert class="alert alert-danger" *ngIf="error">
    {{ 'register.errorTxt' | translate }}<br />
    <i>{{ error | json }}</i><br />
    {{ 'register.errorSignature' | translate }}

    <button type="submit" class="btn btn-primary btn-lg" routerLink="/run/{{idRun}}">{{ 'register.return' | translate }}</button>

</ngb-alert>


<div class="card" *ngIf="!subscriber">
    <h4 class="card-header">{{ 'register.title' | translate }}</h4>
        <div class="card-body">
            <form [formGroup]="registerForm" >
                <div class="modal-body">
                    <!-- start form -->
                    <div class="form-group">
                        <label for="firstName" >{{ 'register.firstname' | translate }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="firstName" placeholder="First name"
                                name="firstName" formControlName="firstName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="lastName" >{{ 'register.lastname' | translate }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="lastName" placeholder="Last name"
                                name="lastName" formControlName="lastName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="gender" >{{ 'register.gender' | translate }}</label>
                        <select id="gender" class="form-control" name="gender" formControlName="gender"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                            <option value="female">F/V</option>
                            <option value="male">H/M</option>
                        </select>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="dateOfBirth" >{{ 'register.year' | translate }}</label>
                        <div class="input-group">
                            <input id="dateOfBirth" class="form-control" placeholder="yyyy" name="dp" name="birthDate"
                                formControlName="dateOfBirth" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }" />
                        </div>
                    </div>
                    <!-- end form -->

                    <hr />

                    <!-- start form -->
                    <div class="form-group">
                        <label for="email" >Email</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                                formControlName="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <label for="postalCode" >{{ 'register.postalcode' | translate }}</label>
                        <div class="input-group">
                            <input type="number" class="form-control" id="postalCode" placeholder="Postal code"
                                name="postalCode" formControlName="postalCode" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.postalCode.errors }">
                        </div>
                    </div>
                    <!-- end form -->

                    <hr />

                    <!-- start form -->
                    <div class="form-group">
                        <label for="club" >Club</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="club" placeholder="Club" name="club"
                                formControlName="club" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.club.errors }">
                        </div>
                    </div>
                    <!-- end form -->


                    <!-- start form -->
                    <div class="form-group">
                        <div class="form-check form-check-inline">                 
                                <input class="form-check-input" type="checkbox" value="true" id="challenge" formControlName="challenge" 
                                [ngClass]="{ 'is-invalid': submitted && f.challenge.errors }" >
                                <label class="form-check-label" for="defaultCheck1">
                                    Challenger Run In Brussels ?
                                </label>
                            <div class="invalid-feedback" >You must agree before submitting.</div>
                        </div>
                    </div>
                    <!-- end form -->

                    <!-- start form -->
                    <div class="form-group">
                        <div class="form-check form-check-inline">

                            <input class="form-check-input" type="checkbox" id="healthOk" value="healthOk" formControlName="healthOk" 
                            [ngClass]="{ 'is-invalid': submitted && f.healthOk.errors }">
                            <label class="form-check-label" for="defaultCheck1">
                                {{ 'register.healthTxt' | translate }}
                            </label>
                             <div class="invalid-feedback" >You must agree before submitting.</div>
                        </div>
                    </div>
                    <!-- end form -->

                    <div class="form-text">

                        <p>
                            <small class="form-text text-muted" >
                                {{ 'register.gdpr' | translate }}
                            </small>
                        </p>
                       
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" routerLink="/run/{{idRun}}">{{ 'register.cancel' | translate }}</button>
                        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">{{ 'register.save' | translate }}</button>
                    </div>
                </div>
            </form>
        </div>
</div>

