
<div class="card">
    <div class="card-header">
        {{ event.name }} 
    </div>

    
    <div class="card-body">
        <div class="row no-gutters">
            <div class="offset-md-3 col-6">
                <img src="./assets/img/laerbeek.png" class="card-img-top img-fluid" alt="Run picture">
            </div>
        </div>
        <!-- <div class="col-auto"> -->
        <!-- </div>
        <div class="col"> -->
            <!-- <div class="card-block px-2"> -->
                <p class="card-text font-weight-light" *ngFor="let desc of event.description.split('\|'); "><span *ngFor="let lineDesc of desc.split('\;'); "> {{ lineDesc }}<br /></span></p>
                <p >
                    <span class="text-muted">{{ 'event.challenge' | translate:{'challengeName': event.challenge} }}</span><br />
                    <a href="{{ event.orgaUrl }}" target="_blank">{{ 'event.info' | translate:{'websiteName': event.organization} }}</a>
                </p>
                <p>
                    <a routerLink="/run/{{ event._id }}" class="btn btn-info btn-lg btn-block">{{ 'event.open' | translate }}</a>
                    <a routerLink="/bankload/{{ event._id }}" class="btn btn-info btn-lg btn-block" *ngIf="isOwner(event.user)">Load bank data</a>
                </p>
                
            <!-- </div> -->
        <!-- </div> -->
    </div>
</div>

