
.card-text{
    margin-top: 10px;
}

.img-run {
    max-height:300px;
    max-width:500px;
}

.btn-info{
    margin-right: 10px;
}


/* in the css file or in a style block */
.angular-with-newlines {
    white-space: pre-wrap;
}
