
<ngb-alert class="alert alert-success" *ngIf="message" >

  <p>{{message}}</p>
  
  <button type="submit" class="btn btn-primary btn-lg" routerLink="/run/{{idRun}}">{{ 'register.return' | translate }}</button>

</ngb-alert>


<div class="card">
  <div class="card-header">
    Load bank data as CSV file
  </div>
  <div class="card-body">
    <p class="card-text" *ngIf="header.length < 1">You need to load a CSV file of your bank.</p>

    <div class="alert alert-info" role="alert">
      To convert Excel file (.xslx) to CSV file you can use Microsoft Office/Libre Office and save as '.csv' <br />
      Or you can also use a command line like <a href="https://pypi.org/project/xlsx2csv/">xlsx2csv</a>: <b>xlsx2csv -d ';' bank_latest.xlsx latest.csv</b>
    </div>

    <input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />    
  </div>
</div>


<div  *ngIf="header.length > 1 && !message" class="preview">
    <h2>Preview</h2>


    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Label</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coldata of previewRecords(); index as i">
            <td>{{header[i]}}</td>
            <td>{{coldata}}</td>
          </tr>
        </tbody>
      </table>

  
    <button type="submit" class="btn btn-primary btn-lg" (click)="open(content)" >Load »</button>
</div>


<!-- ######### MODAL  #########  -->


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select the good columns</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #f="ngForm">
        <div class="modal-body">
            <!-- start form -->
            <div class="form-group">
                <label for="csvPositionBankCom">Structured communication where is XXX/XXXX/XXXXX</label>
                <select class="form-control" id="csvPositionBankCom" name="csvPositionBankCom" ngModel >
                    <option *ngFor="let head of header; index as i" [ngValue]="i">{{head}}</option>
                  </select>
            </div>
            <!-- end form -->

            <!-- start form -->
            <div class="form-group">
                <label for="csvPositionAmount">Amount like 7,0</label>
                <select class="form-control" id="csvPositionAmount" name="csvPositionAmount" ngModel >
                    <option *ngFor="let head of header; index as i" [ngValue]="i">{{head}}</option>
                  </select>
            </div>
            <!-- end form -->

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="saveClose(modal, f.value)">Send</button>
        </div>
    </form>
</ng-template>
