.navbar{
    margin-bottom: 20px;
}

#dropdownBasic1{
    min-width: 20px;
}
.dropdown-menu{
    max-width: 20px;
}

a:hover {
    cursor:pointer;
}

.lg-click {
   padding-left: 2px !important;
   padding-right: 2px !important;
}