
  <header class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">ChronoScan</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/features']" (click)="navbarCollapsed = true">{{ 'header.features' | translate }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about']" (click)="navbarCollapsed = true">{{ 'header.about' | translate }}</a>
        </li> -->
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/login']" (click)="navbarCollapsed = true" *ngIf="!currentUser">{{ 'header.admin' | translate }}</a>
          <a class="nav-link" [routerLink]="['/login']" (click)="logout(); navbarCollapsed = true" *ngIf="currentUser">{{ 'header.logout' | translate }}</a>
        </li>
      </ul>

     
      <div class="dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle ><fa-icon [icon]="languageIcon"></fa-icon></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="useLanguage('en')">EN</button>
            <button ngbDropdownItem (click)="useLanguage('fr')">FR</button>
            <button ngbDropdownItem (click)="useLanguage('nl')">NL</button>
          </div>
        </div>
      </div>
 
     
    </div>
  </header>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>