<div class="jumbotron"  *ngIf="run && run.event">
    <h1 class="display-3" >{{run.event.name}}</h1>
    <p>{{run.event.description }}</p>
    <p><a href="{{run.event.orgaUrl }}">Plus de détails sur le site du {{run.event.organization }}</a></p>
    <button type="submit" class="btn btn-primary btn-lg" routerLink="/register/{{run.event._id}}">Inscription / Inschrijving »</button>
</div>


<h1 class="display-4">Les participants/De deelnemers</h1>

<form>
    <div class="form-row align-items-center">
        <div class="col-sm-12">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Search" [(ngModel)]="searchText" name="searchText">
        </div>

    </div>
</form>

<p></p>

<table class="table table-striped" *ngIf="run && run.subcribers">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom / Voornaam</th>
            <th scope="col">Nom / Naam</th>
            <th scope="col">Club</th>
            <th scope="col">Confirmé / Bevestigd</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subcriber of run.subcribers  | filter : searchText; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                <ngb-highlight [result]="subcriber.firstName"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="subcriber.lastName"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="subcriber.club"></ngb-highlight>
            </td>
            <td>
                <fa-icon [icon]="getIcon(subcriber.active)" ></fa-icon>
            </td>
        </tr>
    </tbody>
</table>