<div class="jumbotron"  *ngIf="run && run.event">
    <h4  >{{run.event.name}}</h4>

    <p class="font-weight-light" *ngFor="let desc of run.event.description.split('\|'); "><span *ngFor="let lineDesc of desc.split('\;'); "> {{ lineDesc }}<br /></span></p>

    <p><a href="{{run.event.orgaUrl }}" target="_blank">{{ 'event.info' | translate:{'websiteName': run.event.organization} }}</a></p>
    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/register/{{run.event._id}}">  {{ 'subscription.button' | translate }} </button>
</div>


<h1 class="display-4"> {{ 'subscription.title' | translate }} </h1>

<form>
    <div class="form-row align-items-center">
        <div class="col-sm-12">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Search" [(ngModel)]="searchText" name="searchText">
        </div>

    </div>
</form>

<p></p>

<table class="table table-striped" *ngIf="run && run.subcribers">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'register.firstname' | translate }}</th>
            <th scope="col">{{ 'register.lastname' | translate }}</th>
            <th scope="col"  *ngIf="!isOwner(run.event.user)">Club</th>
            <th scope="col"  *ngIf="isOwner(run.event.user)">Communication</th>
            <th scope="col">{{ 'subscription.pay' | translate }}</th>
            <th scope="col" *ngIf="isOwner(run.event.user)">Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let subcriber of run.subcribers  | filter : searchText; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
                <ngb-highlight [result]="subcriber.firstName"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="subcriber.lastName"></ngb-highlight>
            </td>
            <td>
                <ngb-highlight [result]="subcriber.club"  *ngIf="!isOwner(run.event.user)"></ngb-highlight>
                <ngb-highlight [result]="subcriber.bankTransferId"  *ngIf="isOwner(run.event.user)"></ngb-highlight>
            </td>
            <td>
                <fa-icon [icon]="getIcon(subcriber.active)" ></fa-icon>
            </td>
            <td *ngIf="isOwner(run.event.user)">
                <button class="btn btn-primary" (click)="open(content, subcriber)">Open</button>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Subscriber data</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <pre>{{currentSubscriber | json }}</pre>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
</ng-template>
    